<div class="container">
    <hr>
    <div class="row">
        <div class="col">
            <p class="features-title">Features</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="features-text">
                <p>This service has a <em>lot</em> of features including real time weather details</p>
                <ul>
                    <li>Real temperature</li>
                    <li>Selectable Temp Metric. (So be sure to select the one that <em>you</em> need)</li>
                    <li>Wind Speed (Be sure to check it before you go out or the wind may fly you off to Amazon) </li>
                    <li>Feel Temperature (Yes! We've got it ;))</li>
                    <li>Humidity (We'll not let you get wet.)</li>
                    <li>Exact time of sunrise. (Late no more)</li>
                    <li>Exact time of sunset. (Never miss the sunset)</li>
                    <li>Pressure. (So that you know you're still on earth)</li>
                    <br>
                </ul>
            </div>
        </div>
    </div>
    <hr>
</div>